{% extends 'base.html' %}
{% load static %}
{% block css_style %}
    <link rel="stylesheet" href="{% static 'css/signup.css' %}">
{% endblock %}

{% block content %}
<div class="auth-container">
    <h2>signup</h2>
    <form method="post" class="signup-form">
        {% csrf_token %}
        
        <div class="input-group">
            {{ form.username }}
            <label for="id_username">user name</label>
            {% if form.username.errors %}
                <div class="form-error">{{ form.username.errors }}</div>
            {% endif %}
        </div>

        <div class="input-group">
            {{ form.email }}
            <label for="id_email">email</label>
            {% if form.email.errors %}
                <div class="form-error">{{ form.email.errors }}</div>
            {% endif %}
        </div>

        <div class="input-group">
            {{ form.password }}
            <label for="id_password">password</label>
        </div>

        <div class="input-group">
            {{ form.confirm_password }}
            <label for="id_confirm_password">confirm password</label>
            {% if form.confirm_password.errors %}
                <div class="form-error">{{ form.confirm_password.errors }}</div>
            {% endif %}
        </div>

        <button type="submit">signup</button>
    </form>
    <p class="login-link">have an accunt<a href="{% url 'login' %}">login</a></p>
</div>
{% endblock %}