{% load static %}
<header>
    <div class="logo">
        <a href="{% url 'home' %}">
            <img src="{% static 'image/logo.jpg' %}" alt="Logo">
        </a>
    </div>

    <div class="nav-links">
        <nav>
            <ul>
                <li><a href="{% url 'home' %}">🏠 Home</a></li>
                <li><a href="{% url 'add_note' %}">📝 Add Note</a></li>
                <li><a href="{% url 'list_note' %}">📚 Note List</a></li>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'user_list' %}">👤 User Notes</a></li>
                {% endif %}
            </ul>
        </nav>
    </div>

    <div class="auth-links">
        {% if user.is_authenticated %}
            <span class="welcome-message">🌟 Welcome, {{ user.username }}</span>
            <form action="{% url 'logout' %}" method="post" class="logout-form">
                {% csrf_token %}
                <button type="submit" class="btn btn-logout">🚪 Log Out</button>
            </form>
        {% else %}
            <a href="{% url 'login' %}" class="btn btn-login">🔑 Login</a>
            <a href="{% url 'signup' %}" class="btn btn-signup">✍️ Sign Up</a>
        {% endif %}
    </div>
</header>